<!-- main menu-->
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <!-- main menu header-->
    <div class="main-menu-header">
 
    </div>
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class=" nav-item">
                <a href="#"><i class="icon-grid2"></i><span data-i18n="nav.components.main" class="menu-title">Activity Management</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="/Factory/Index" data-i18n="nav.components.components_buttons.component_buttons_basic" class="menu-item">Activities</a>
                    </li>
                    <li>
                        <a href="/ActivitiesManagement/ActivitiesRegister" data-i18n="nav.components.component_alerts" class="menu-item">Activities Register</a>
                    </li>

                    <li>
                        <a href="/ActivitiesManagement/ActivitiesModify" data-i18n="nav.components.components_buttons.component_buttons_basic" class="menu-item">Activities Modify</a>
                    </li>


                </ul>
            </li>
            <li class=" nav-item">
                <a href="/Employee/ManageEmployee"><i class="icon-users"></i><span data-i18n="nav.advance_cards.main" class="menu-title">Workers Activities Statu</span></a>
                @*<ul class="menu-content">
                    <li>
                        <a href="/Employee/AddEmployee" data-i18n="nav.cards.card_statistics" class="menu-item">Add Workers</a>
                    </li>
                    <li>
                        <a href="/Employee/ManageEmployee" data-i18n="nav.cards.card_charts" class="menu-item">Workers Activities Statu</a>
                    </li>
                </ul>*@
            </li>
            <li class=" nav-item">
                <a href="/hangfire/servers" target="_blank"><i class="icon-whatshot" style="color: #ff0000"></i><span data-i18n="nav.google_charts.main" class="menu-title">Hang Fire Services</span></a>
            </li>
       


        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>
<!-- / main menu-->